@model TP6MVC.Models.Presupuesto

<form asp-controller="Producto" asp-action="Crear">
    <div class="form-group">
        <label asp-for="@Model.NombreDestinatario1">Nombre</label>
        <input asp-for="@Model.NombreDestinatario1" class="form-control" />
        <span asp-validation-for="@Model.NombreDestinatario1" class="text-danger"></span>    
    </div>

    <div class="form-group">
        <label asp-for="@Model.FechaCreacion1"></label>
        <input asp-for="@Model.FechaCreacion1" class="form-control" />
        <span asp-validation-for="@Model.FechaCreacion1" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }